In [4]:
pets =[{
    'name':'Springer',
    'age':5,
    'type':'dog'
}, {
     'name':'Puddles',
    'age':7,
    'type':'cat'  
}]
[pets['name'] for pets in pets if pets['type']=='dog']

['Springer']

In [22]:
#[x if x % 3 == 0 | % 5 == 0 for x in range(100)]

[x for x in range(100) if x%3 or x%5]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
import pandas as pd
pd.options

In [ ]:
sherlock_df = pd.csv(sherlock_file, )

In [ ]:
p='Watson'
sherlock_df[sherlock_df['text'].str.contains(p)]
sherlock_df[sherlock_df['text'].str.contains(p, regex=False)]
#\s is for space  
p='Watson\s'
sherlock_df[sherlock_df['text'].str.contains(p)]

#\s is for non-word character  
p='Watson\W'
sherlock_df[sherlock_df['text'].str.contains(p)]